/* TABLET MD 768px *****************************************/

@media screen and (max-width: 768px) {

    .album {
        width: calc((100% / 4) - 20px + (20px / 4));
    }

    /* PLAYER *****************************************/

    #player .player-left-side,
    #player .player-right-side {
        width: 30%;
    }

    .player-left-side .song-actions {
        gap: 10px;
        flex-direction: column;
    }
}

/* MOBILE SM 576px *****************************************/

@media screen and (max-width: 576px) {

    .album {
        width: calc((100% / 2) - 20px + (20px / 2));
    }

    /* PLAYER *****************************************/

    .hidden-sm {
        display: none;
    }

    /* HOVER */

    #player .player-right-side .fa-volume-high:hover+.wrap-sm {
        display: flex;
    }

    .wrap-sm {
        position: absolute;
        bottom: 90px;
        right: 15px;
        height: 90px;
        width: 24px;
        background-color: var(--playerColor);
        border-radius: 3px;
        padding: 10px 15px;
        justify-content: center;
    }

    .wrap-sm .volume-bar {
        background-color: var(--textColor);
        width: 4px;
        height: 70px;
        border-radius: 2px;
        display: flex;
        align-items: flex-end;
    }

    .wrap-sm .volume-bar .actual-volume {
        background-color: var(--activeIcon);
        width: 4px;
        height: 60%;
        border-radius: 2px 0 0 2px;
    }

}


/* MOBILE XS 425px *****************************************/

@media screen and (max-width: 425px) {

    #main {
        /* full width - aside width XS */
        width: calc(100vw - var(--asideWidthXS));
    }

    /********************************************************
            UTILITY CLASSES
    ********************************************************/

    .visible-xs {
        display: block;
    }

    .hidden-xs {
        display: none;
    }

    .pad-inline {
        padding-inline: 10px;
    }

    /* ASIDE *****************************************/

    aside {
        width: var(--asideWidthXS);
        padding-block: 10px;
    }

    aside figure {
        margin-bottom: 10px;
    }

    aside img {
        width: 100%;
        margin: 0 auto;
    }

    #side-menu svg {
        width: 30px;
        margin-right: 0;
    }

    li:has(> a.active-text) {
        border-left: 2px solid var(--accentColor);
    }

    aside div:last-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .btn-download {
        width: 20px;
    }

    .btn-download svg {
        margin-right: 0px;
    }

    .btn-profile svg {
        margin-right: 0px;
    }

    /* TOPBAR *****************************************/

    #topbar {
        left: var(--asideWidthXS);
    }

    /* PLAYER *****************************************/

    #player .player-right-side i {
        scale: 0.9;
    }

    /* HOVER */

    /* left side */

    .player-left-side {
        position: relative;
    }

    #player .player-left-side .fa-chevron-down:hover {
        color: var(--activeIcon);
    }

    #player .player-left-side .fa-chevron-down {
        scale: 1;
        padding-right: 20px;
    }

    #player .player-left-side .fa-chevron-down:hover+.wrap-left-xs {
        display: flex;
    }

    .wrap-left-xs {
        position: absolute;
        top: -90px;
        left: 0;
        width: 150px;
        background-color: var(--playerColor);
        border-radius: 3px;
        padding: 10px;
        flex-direction: column;
        gap: 3px;
    }

    /* right side */

    .player-right-side {
        position: relative;
    }

    #player .player-right-side .fa-ellipsis-vertical {
        scale: 1.2;
        padding-right: 20px;
    }

    #player .player-right-side .fa-ellipsis-vertical:hover {
        color: var(--activeIcon);
    }

    #player .player-right-side .fa-ellipsis-vertical:hover+.wrap-right-xs {
        display: flex;
    }

    .wrap-right-xs {
        position: absolute;
        top: -80px;
        right: 5px;
        height: 40px;
        width: 120px;
        background-color: var(--playerColor);
        border-radius: 3px;
        padding: 10px;
        justify-content: space-evenly;
        align-items: center;
    }

}