/* TABLET MD 768px *****************************************/

@media screen and (max-width: 768px) {

    .album {
        width: calc((100% / 4) - 20px + (20px / 4));
    }
}

/* MOBILE SM 576px *****************************************/

@media screen and (max-width: 576px) {

    .album {
        width: calc((100% / 2) - 20px + (20px / 2));
    }
}


/* MOBILE XS 425px *****************************************/

@media screen and (max-width: 425px) {

    #main {
        /* full width - aside width XS */
        width: calc(100vw - var(--asideWidthXS));
    }

    /********************************************************
            UTILITY CLASSES
    ********************************************************/

    .visible-xs {
        display: block;
    }

    .hidden-xs {
        display: none;
    }

    .pad-inline {
        padding-inline: 10px;
    }

    /* ASIDE *****************************************/

    aside {
        width: var(--asideWidthXS);
        padding-block: 10px;
    }

    aside figure {
        margin-bottom: 10px;
    }

    aside img {
        width: 100%;
        margin: 0 auto;
    }

    #side-menu svg {
        width: 30px;
        margin-right: 0;
    }

    li:has(> a.active-text) {
        border-left: 2px solid var(--accentColor);
    }

    aside div:last-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .btn-download {
        width: 20px;
    }

    .btn-download svg {
        margin-right: 0px;
    }

    .btn-profile svg {
        margin-right: 0px;
    }

    /* TOPBAR *****************************************/


    #topbar {
        left: var(--asideWidthXS);
    }

}